# Day 1

##Section 1

###Basic Coding

In [ ]:
name = "Ruchika"
print(name)

Ruchika

In [ ]:
print("Hello" + input("What is your name?"))

In [ ]:
name = input("What is your name?")
length = len(name)
print(length)

In [ ]:
thislist = {"red", "Blue", "Orange","Green"}
print(thislist)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

#Day 2

##Section 5

###Python Loops

In [ ]:
 x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
a = 33
b = 33  # Remove the extra space before 'b'

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [ ]:
num_char = len(input("What is your name?"))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

What is your name?Ruchika
Your name has 7 characters.

In [ ]:
a = 234
print(type(a))

<class 'int'>

In [ ]:
print(70 + float("100.5"))
print(type(8 // 3))

170.5
<class 'int'>

In [ ]:
score = 4
height = 1.9
isWinning = True

# f-String
print(f"Your score is {score}, your height is {height}, you are winning is {isWinning}")

Your score is 4, your height is 1.9, you are winning is True

In [ ]:
old_age = input("Your old age: ")

try:
    new_age = int(old_age) + 5
    print(f"Your new age will be {new_age} in 5 years.")
except ValueError:
    print("Invalid input. Please enter a valid integer for your old age.")

Your old age: 56
Your new age will be 61 in 5 years.

#Day 3

##Section 9

In [ ]:
age = 4

if age >= 18:
   print("You are an adult")
   print("You can vote")
elif age<18 and age>3:
   print("You are in school")
else:
   print("you are a kid")
print("thank u")

You are in school
thank u

In [ ]:
#Typecasting

first = input("Enter the first number: ")
second = input("Enter the second number: ")
sum = int(first) + int(second)
print("The sum is: " + str(sum))

Enter the first number: 34
Enter the second number: 65
The sum is: 99

In [ ]:
#Calculator

first = input("Enter the first number: ")
operator = input("Enter operator (+, -, *, /, %): ")
second = input("Enter the second number: ")

first = float(first)
second = float(second)

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
    if second != 0:
        print(first / second)

else:
    print("Invalid operation")

Enter the first number: 45
Enter operator (+, -, *, /, %): +
Enter the second number: 67
112.0

In [ ]:
#Loops(While)

i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [ ]:
i = 1
while i <= 6:
    print("hello" * i)
    i += 1

hello
hellohello
hellohellohello
hellohellohellohello
hellohellohellohellohello
hellohellohellohellohellohello

In [ ]:
class Person:
    def __init__(self, name, id):
        self.name = name
        self.id = id

    def Display(self):
        print(self.name, self.id)

emp = Person("Ruchika", 102)
emp.Display()

Ruchika 102

In [ ]:
class Employee:
    def __init__(self, name, id):
        self.id = id
        self.name = name

    def display(self):
        print("ID: %d\nName: %s" % (self.id, self.name))

emp1 = Employee("Ruchika", 101)
emp2 = Employee("Seha", 102)

emp1.display()
emp2.display()

ID: 101
Name: Ruchika
ID: 102
Name: Seha