## Day 1

##Section

###Basic Coding

In [ ]:
name = "Ruchika"
print(name)

Ruchika

In [ ]:
print("Hello" + input("What is your name?"))

In [ ]:
name = input("What is your name?")
length = len(name)
print(length)

In [ ]:
thislist = {"red", "Blue", "Orange","Green"}
print(thislist)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

#Day 2

##Section 5

###Python Loops

In [ ]:
 x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
a = 33
b = 33  # Remove the extra space before 'b'

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [ ]:
num_char = len(input("What is your name?"))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

What is your name?Ruchika
Your name has 7 characters.

In [ ]:
a = 234
print(type(a))

<class 'int'>

In [ ]:
print(70 + float("100.5"))
print(type(8 // 3))

170.5
<class 'int'>

In [ ]:
score = 4
height = 1.9
isWinning = True

# f-String
print(f"Your score is {score}, your height is {height}, you are winning is {isWinning}")

Your score is 4, your height is 1.9, you are winning is True

In [ ]:
old_age = input("Your old age: ")

try:
    new_age = int(old_age) + 5
    print(f"Your new age will be {new_age} in 5 years.")
except ValueError:
    print("Invalid input. Please enter a valid integer for your old age.")

Your old age: 56
Your new age will be 61 in 5 years.