# Day 1

##Section 1

###Basic Coding

In [ ]:
name = "Ruchika"
print(name)

Ruchika

In [ ]:
print("Hello" + input("What is your name?"))

In [ ]:
name = input("What is your name?")
length = len(name)
print(length)

In [ ]:
thislist = {"red", "Blue", "Orange","Green"}
print(thislist)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

#Day 2

##Section 5

###Python Loops

In [ ]:
 x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
a = 33
b = 33  # Remove the extra space before 'b'

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [ ]:
num_char = len(input("What is your name?"))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

What is your name?Ruchika
Your name has 7 characters.

In [ ]:
a = 234
print(type(a))

<class 'int'>

In [ ]:
print(70 + float("100.5"))
print(type(8 // 3))

170.5
<class 'int'>

In [ ]:
score = 4
height = 1.9
isWinning = True

# f-String
print(f"Your score is {score}, your height is {height}, you are winning is {isWinning}")

Your score is 4, your height is 1.9, you are winning is True

In [ ]:
old_age = input("Your old age: ")

try:
    new_age = int(old_age) + 5
    print(f"Your new age will be {new_age} in 5 years.")
except ValueError:
    print("Invalid input. Please enter a valid integer for your old age.")

Your old age: 56
Your new age will be 61 in 5 years.

#Day 3

##Section 9

In [ ]:
age = 4

if age >= 18:
   print("You are an adult")
   print("You can vote")
elif age<18 and age>3:
   print("You are in school")
else:
   print("you are a kid")
print("thank u")

You are in school
thank u

In [ ]:
#Typecasting

first = input("Enter the first number: ")
second = input("Enter the second number: ")
sum = int(first) + int(second)
print("The sum is: " + str(sum))

Enter the first number: 34
Enter the second number: 65
The sum is: 99

In [ ]:
#Calculator

first = input("Enter the first number: ")
operator = input("Enter operator (+, -, *, /, %): ")
second = input("Enter the second number: ")

first = float(first)
second = float(second)

if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
    if second != 0:
        print(first / second)

else:
    print("Invalid operation")

Enter the first number: 45
Enter operator (+, -, *, /, %): +
Enter the second number: 67
112.0

In [ ]:
#Loops(While)

i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [ ]:
i = 1
while i <= 6:
    print("hello" * i)
    i += 1

hello
hellohello
hellohellohello
hellohellohellohello
hellohellohellohellohello
hellohellohellohellohellohello

In [ ]:
class Person:
    def __init__(self, name, id):
        self.name = name
        self.id = id

    def Display(self):
        print(self.name, self.id)

emp = Person("Ruchika", 102)
emp.Display()

Ruchika 102

In [ ]:
class Employee:
    def __init__(self, name, id):
        self.id = id
        self.name = name

    def display(self):
        print("ID: %d\nName: %s" % (self.id, self.name))

emp1 = Employee("Ruchika", 101)
emp2 = Employee("Seha", 102)

emp1.display()
emp2.display()

ID: 101
Name: Ruchika
ID: 102
Name: Seha

#Day 4

##List , tuple, set

In [ ]:
#Creating a List

my_list = [1, 2, 3, 4, 5]

print(my_list[0])

my_list.append(6)
my_list[1] = 20

for item in my_list:
    print(item)

squared_list = [x**2 for x in my_list]
print(squared_list)

1
1
20
3
4
5
6
[1, 400, 9, 16, 25, 36]

In [ ]:
#Creating a Tuple
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple[0])  # Access the first element (indexing starts at 0)

new_tuple = my_tuple + (6,)

for item in my_tuple:
    print(item)

1
1
2
3
4
5

In [ ]:
# Creating a Set

my_set = {1, 2, 3, 4, 5}

my_set.add(6)
my_set.remove(3)

for item in my_set:
    print(item)

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)

1
2
4
5
6

In [ ]:
# Iterate through a list

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

for i in range(1, 6):
    print(i)

word = "Python"
for char in word:
    print(char)

apple
banana
cherry
1
2
3
4
5
P
y
t
h
o
n

In [ ]:
# Print numbers from 1 to 5 using a while loop

count = 1
while count <= 5:
    print(count)
    count += 1

user_input = ""
while user_input != "quit":
    user_input = input("Enter 'quit' to exit: ")
    print("You entered:", user_input)

1
2
3
4
5
Enter 'quit' to exit: quit
You entered: quit

In [ ]:
# Using break to exit a loop

for number in range(1, 11):
    if number == 5:
        break
    print(number)

for number in range(1, 6):
    if number == 3:
        continue
    print(number)

1
2
3
4
1
2
4
5

In [ ]:
target = 100
for number in range(1,target + 1):
  if number % 3 == 0 and number % 5 == 0:
    print("FizzBuzz")
  elif number % 3 == 0:
    print("Fizz")
  elif number % 5 == 0:
    print("Buzz")
  else:
    print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
# Input a list of student scores
student_scores = input().split()
for n in range(0, len(student_scores)):
  student_scores[n] = int(student_scores[n])

# Write your code below this row 👇
highest_score = 0
for score in student_scores:
  if score > highest_score:
    highest_score = score
print(f"The highest score in the class is: {highest_score}")

56
The highest score in the class is: 56

In [ ]:
age = input()
years = 90 - int(age)
weeks = years * 52
print(f"You have {weeks} weeks left.")

56
You have 1768 weeks left.

#Day 5

## Codes

In [ ]:
MENU = {
    "espresso": {
        "ingredients": {
            "water": 50,
            "coffee": 18,
        },
        "cost": 1.5,
    },
    "latte": {
        "ingredients": {
            "water": 200,
            "milk": 150,
            "coffee": 24,
        },
        "cost": 2.5,
    },
    "cappuccino": {
        "ingredients": {
            "water": 250,
            "milk": 100,
            "coffee": 24,
        },
        "cost": 3.0,
    }
}

profit = 0
resources = {
    "water": 300,
    "milk": 200,
    "coffee": 100,
}


def is_resource_sufficient(order_ingredients):
    """Returns True when order can be made, False if ingredients are insufficient."""
    for item in order_ingredients:
        if order_ingredients[item] > resources[item]:
            print(f"Sorry there is not enough {item}.")
            return False
    return True


def process_coins():
    """Returns the total calculated from coins inserted."""
    print("Please insert coins.")
    total = int(input("how many quarters?: ")) * 0.25
    total += int(input("how many dimes?: ")) * 0.1
    total += int(input("how many nickles?: ")) * 0.05
    total += int(input("how many pennies?: ")) * 0.01
    return total


def is_transaction_successful(money_received, drink_cost):
    """Return True when the payment is accepted, or False if money is insufficient."""
    if money_received >= drink_cost:
        change = round(money_received - drink_cost, 2)
        print(f"Here is ${change} in change.")
        global profit
        profit += drink_cost
        return True
    else:
        print("Sorry that's not enough money. Money refunded.")
        return False


def make_coffee(drink_name, order_ingredients):
    """Deduct the required ingredients from the resources."""
    for item in order_ingredients:
        resources[item] -= order_ingredients[item]
    print(f"Here is your {drink_name} ☕️. Enjoy!")


is_on = True

while is_on:
    choice = input("​What would you like? (espresso/latte/cappuccino): ")
    if choice == "off":
        is_on = False
    elif choice == "report":
        print(f"Water: {resources['water']}ml")
        print(f"Milk: {resources['milk']}ml")
        print(f"Coffee: {resources['coffee']}g")
        print(f"Money: ${profit}")
    else:
        drink = MENU[choice]
        if is_resource_sufficient(drink["ingredients"]):
            payment = process_coins()
            if is_transaction_successful(payment, drink["cost"]):
                make_coffee(choice, drink["ingredients"])

​What would you like? (espresso/latte/cappuccino): latte
Please insert coins.
how many quarters?: 12